@use "../variables" as *;
@use "../utilities/border" as *;
@use "../utilities/background" as *;
@use "../utilities/font" as *;

.frame-brand,
.hov-frame-brand:hover {
    @extend .bord-brand;
    @extend .back-brand;
    @extend .font-prime;
}
.frame-main,
.hov-frame-main:hover {
    @extend .bord-main;
    @extend .back-main;
    @extend .font-prime;
}
.frame-second,
.hov-frame-second:hover {
    @extend .bord-second;
    @extend .back-other;
    @extend .font-main;
}
.frame-other,
.hov-frame-other:hover {
    @extend .bord-other;
    @extend .back-other;
    @extend .font-main;
}
.frame-prime,
.hov-frame-prime:hover {
    @extend .bord-other;
    @extend .back-prime;
    @extend .font-main;
}